{block content}


    <form n:name="loginForm">
        <input type="text" n:name="username">
        <input type="text" n:name="password">
        <button type="submit">Odeslat</button>
    </form>



{/block}
