{block content}

    <ul>
        <li n:foreach="$posts as $post">
            {$post->getId()}
            {$post->getTitle()}
            {$post->getDescription()}
            {foreach $post->getLabels() as $label}
                <span style="background: red">{$label->getText()}</span>
            {/foreach}
        </li>
    </ul>

    <a n:href="Post:create">Vytvořit</a>

{/block}
