{block content}

    <ul>
        <li n:foreach="$posts as $post">
            {$post->getId()}
            {$post->getTitle()}
            {$post->getDescription()}
        </li>
    </ul>

{/block}
