{block content}

{$user->isAllowed('user', 'create')}
    <form n:name="postForm" >
        <input type="text" n:name="title">
        <input type="text" n:name="description">
        <button n:name="send">Odeslat</button>
    </form>


{/block}
