parameters:
    directories:
        upload: 'uploads'

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter
		Admin: App\Modules\Admin\Presenters\*Presenter
		Frontend: App\Modules\Frontend\Presenters\*Presenter


session:
	expiration: 14 days

security:
	authentication:
		# po jak dlouhé době nečinnosti bude uživatel odhlášen
		expiration: 30 minutes        # (string) výchozí je nenastaveno

		# kam ukládat informace o přihlášeném uživateli
		storage: session              # (session|cookie) výchozí je session

di:
	export:
		parameters: no
		tags: no


