services:
	- App\Router\RouterFactory::createRouter
	- App\Modules\Frontend\Services\FileUploader('okss')
	- App\Modules\Admin\Secure\Auth
	- App\Modules\Admin\Secure\Authorizator
	- App\Modules\Admin\Presenters\PostPresenter(%directories.upload%)
	- App\Modules\Frontend\Services\AssetCacheCleaner(%wwwDir%)

