<!DOCTYPE html>
<html lang="cs">
<head>


  {include metatags}





    <link rel="stylesheet" href="/css/index.css?v={$cssVersion}">
    <link rel="stylesheet" href="/css/blog.css?v={$cssVersion}">
</head>

<body>

<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>



{control menu}


 {include './../_includes/analytics.latte'}

{include './../_includes/menu.latte'}
<div>
    <div class="container post">
      {include content}
    </div>
</div>

{include './../_includes/footer.latte'}
	{block scripts}
        <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
         <script src="/js/index.js?v={$jsVersion}"></script>
    {/block}
</body>
</html>
